@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
padding:0;
margin:0;
color:white;
opacity:.5em;
font-family: 'Nunito', sans-serif;
  }
ul{
    width:100%;
    border:solid 2px black;
 }
li{
  list-style:none;
}
.header{
  background:#1b262c;
  height:100vh;
}
.profile{
display:flex;
flex-direction:column;
align-items:center;
width:400px;
margin:0 auto;
padding-top:3em;
}
.profile div {
  padding:.6em;
  height:1.5em;
  display:flex;
}
.bio-status h4{
width:100px;
height:70px;
display:flex;
flex-direction:column;
padding:.3em;
align-items:center;
text-align:center;
opacity:.8;
border:solid .6px #dbdbdb;
margin-right:.8em;
font-size:1.4em;
}
.company span{
  width:175px;
  margin:5em .8em;
  padding-top:1em;
  border:solid 2px white;
  padding-right:0;

}
.bio h4{
  margin-right:.7em;
  background:red;
}
img {
  width:150px;
  height:150px;
  border-radius:50%;
}
.chart-card {
  width:400px;
  border:solid 2px black;
  height:330px;
  border:solid #fafafa .7px;
  border-radius:10px;
  color:black;
  margin:3em 1.4em ;
  padding:2em;
  padding-bottom:4em;
  background:#fbfbfb;
  box-shadow: 0 4px .4px 1px rgba(0, 0, 0, 0.2), 0 0px .4px 0 rgba(0, 0, 0, 0.19);
}
.chart-card > div{
height:270px;
margin-top:3em;
margin-left:-2em;
}


.chart-card > h3{
  position:relative;
  margin-top:0em;
  padding-bottom:.8em;
  font-size:1.2em;
  opacity:.8;
}
.chart-card > h3::before {
  content:"";
   position:absolute;
  width:40px;
  top:1em;
  height:3px; 
  background:red;
  opacity:.8;
}
.chart-data {
  background:white;
  position:relative;
 height:500px;
 text-align:center;
 margin:0 auto;

}
.cards {
position:absolute;
left:4em;
right:4em;
  display:flex;
 margin-top:-6em;
}
.repo-container{
  /* border:solid 2px black; */
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  width:1110px;

}
.repo-container .repo-cards
{
 
  padding:.6em .8em;
display:grid;
width:325px;
height:130px;
margin:.5em;
background:#fafafa;
color:black;
border-radius: 6px;
padding-top:1em;
}
.repo-cards span:nth-child(1){
  font-size:1.5em;
}
.sub-repo {
  display:flex;
  justify-content: space-between;
  align-items:center;
  font-size:.7em;
}
i{
  padding-right:.5em;
}
